body {
    background: #DFE8F6;
}

#mainNorth {
    background: #DFE8F6;
    padding: 10px;
}

#logo {
	background: #DFE8F6;
	float:left;
}

#tipUser {
	float:right;
	margin:40px 10px;
}
#tipUser .tipImg {
	padding-left:18px;
}
