

.icon-home {
	background: url('../img/icons/home.png') no-repeat;
}

.icon-tab {
	background: url('../img/icons/tab.gif') no-repeat;
}

.icon-user {
	background: url('../img/icons/user.png') no-repeat;
}

.icon-cog_edit {
	background: url('../img/icons/cog_edit.png') no-repeat;
}

.icon-add {
	background: url('../img/icons/add.png') no-repeat;
}

.icon-remove {
	background: url('../img/icons/delete.gif') no-repeat;
}

.icon-search {
	background: url('../img/icons/search.png') no-repeat;
}

.icon-reset {
	background: url('../img/icons/redo.png') no-repeat;
}

