.pageFormContent .tablestyle{
	background-color:#B8D0D6;
}
.Validform_label {
    color: #5E7595;
    font-size: 12px;
    font-weight: bold;
}
.pageFormContent .tablestyle.value{
 	background-color: #FFFFFF;
    padding: 5px;
}

.pageFormContent .tablestyle .inputxt {
    border: 1px solid #A5AEB6;
    padding: 3px 2px;
    width: 150px;
}

.pageFormContent .tablestyle .value{
  background-color: #FFFFFF;
    padding: 5px;
}
